:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

#spell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#spell button {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#spell button:hover {
  background-color: #fff;
  color: #000;
}

#spell button:active {
  background-color: #000;
  color: #fff;
}

.contb {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #004927;
}

#spell_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75%;
  background-color: #0f0f0f;
  border-radius: 15px;
  margin: 1rem;
}

#spelli {
  width: 80%;
  height: 80%;
  background-color: #0f0f0f;
  border: 0;
  border-radius: 15px;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem;
  resize: none;
}

#spelli:focus {
  outline: none;
}

article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cont_records {
  width: 100%;
}

#records.active {
  display: block;
}

#records.none {
  display: none;
}

#records {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90%;
  background-color: #161616;
  border-radius: 15px;
  border: #2f2f2f 3px solid;
}

#recordsb {
  justify-self: start;
  margin-left: 20px;
} 

#records_list {
  width: 100%;
  height: -webkit-fill-available;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
  overflow: auto;
}

#closeb {
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.record {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 1rem;
  border: #2a2a2a 3px solid;
  border-radius: 15px;
  transition: 150ms;
}

.record:hover {
  transition: 50ms;
  border: #363636 3px solid;
}

.record:active {
  transition: 150ms;
  border: #00753f 3px solid;
}

#header_records {
  margin-top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
  a:hover {
    color: #24c8db;
  }
  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

#records_list::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 0.3em;
}
#records_list::-webkit-scrollbar-track, #records_list::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-track, textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
#records_list::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  background: #e8e8e8;
}